<div class="container"> 
  <h4 class="app-title">BMI Calculator</h4>
    <div class="height box">
      <input type="number" [(ngModel)]="height" class="height-input" />
    </div>
    <div class="weight box">

      <input type="number" [(ngModel)]="weight" class="weight-input" />
    </div>
    <button (click)="calculateBMI()" class="calculate">« Calculate BMI »</button>
      <div class="result-box" *ngIF="bmi !== null" resultText">
        <p class="yr-bmi-txt"><b>Your BMI is:</b></p>
          <div class="bmi">
            <h3>{{ bmi }}</h3>
          </div>
        <p class="result">
          <span>{{ resultText }}</span>
        </p>
    </div>
</div>
